# Problem Set 3
## Importing and looking at the data

In [24]:
import pandas as pd
import numpy as np
import scipy.optimize as opt
import math

lab_data = pd.read_stata('PS3_data.dta')
lab_data.head(n=5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
0,1,1967,1,Head,1200.0,2000.0,NaN,NaN,0,NaN,...,5614.0,1.0,2.0,52.0,46.0,1.0,2.0,8.0,8.0,0.0
1,2,1967,2,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,56.0,57.0,1.0,2.0,3.0,3.0,0.0
2,3,1967,3,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,77.0,64.0,1.0,2.0,NaN,3.0,0.0
3,4,1967,4,Head,1560.0,0.0,NaN,NaN,6,1.0,...,3280.0,1.0,2.0,45.0,44.0,1.0,2.0,8.0,5.0,0.0
4,5,1967,5,Head,2500.0,2000.0,NaN,NaN,3,1.0,...,7900.0,1.0,2.0,24.0,22.0,1.0,2.0,10.0,9.0,0.0

In [25]:
lab_data.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
count,123786.000000,123786.000000,123786.000000,123786.000000,123786.000000,9.023300e+04,48496.000000,123786.000000,90603.000000,123656.000000,...,1.237860e+05,123786.000000,80758.0,123786.000000,80758.000000,123786.000000,80758.000000,122809.000000,80091.000000,123786.000000
mean,1494.639475,1984.831273,3271.379429,1679.269897,633.026917,4.211505e+04,22026.289062,0.843771,1.098220,1.129731,...,3.012258e+04,1.233072,2.0,45.545547,41.390785,39.620201,55.346169,12.666091,12.720081,0.557690
std,838.901790,9.836212,2277.056058,1061.704712,878.422791,4.670424e+04,21336.107422,1.182829,0.356161,0.394627,...,4.588795e+04,0.422940,0.0,17.623671,14.786721,69.003265,77.864296,2.917721,2.422607,0.265198
min,1.000000,1967.000000,1.000000,0.000000,0.000000,6.353981e-01,1.192780,0.000000,1.000000,1.000000,...,-1.324040e+05,1.000000,2.0,16.000000,13.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,772.000000,1977.000000,1444.000000,832.000000,0.000000,1.979858e+04,8016.247070,0.000000,1.000000,1.000000,...,7.700000e+03,1.000000,2.0,31.000000,29.000000,1.000000,2.000000,12.000000,12.000000,0.362158
50%,1517.000000,1985.000000,2984.000000,1976.000000,0.000000,3.460022e+04,18122.412109,0.000000,1.000000,1.000000,...,1.900000e+04,1.000000,2.0,42.000000,39.000000,3.000000,3.000000,12.000000,12.000000,0.599887
75%,2224.000000,1993.000000,4763.000000,2350.000000,1454.000000,5.267309e+04,30256.060547,2.000000,1.000000,1.000000,...,3.910775e+04,1.000000,2.0,58.000000,51.000000,22.000000,170.000000,15.000000,14.000000,0.786908
max,2930.000000,2002.000000,16968.000000,7800.000000,5840.000000,3.771521e+06,856942.062500,11.000000,8.000000,8.000000,...,3.660000e+06,2.000000,2.0,102.000000,95.000000,227.000000,231.000000,17.000000,17.000000,0.928007

## Clean the data
### Question 1

In [26]:
# Clean the data
# Limit the sample to only male heads
lab_data = lab_data[ lab_data.hsex == 1 ]

# Define the min and max ages and sample years
minAge = 25
maxAge = 60
years = [1971, 1980, 1990, 2000]

# Limit to only those making > $7/hr
minWage = 7

### Question 2

In [27]:
# Create dummy variables for race
lab_data['Black'] = (lab_data['hrace'] == 2).astype(int)
lab_data['Hispanic'] = (lab_data['hrace'] == 5).astype(int)
lab_data['OtherRace'] = ((lab_data['hrace'] != 1) & (lab_data['hrace'] != 2) & (lab_data['hrace'] != 5)).astype(int)

# Create log wage variable
lab_data['hwage'] = lab_data['hlabinc'] / lab_data['hannhrs']
lab_data['lwage'] = np.log(lab_data['hwage'])

# Keep only the variables we need
lab_data = lab_data[ ['lwage', 'hwage', 'hlabinc', 'hannhrs', 'hyrsed', 'age', 'Black', 'Hispanic', 'OtherRace', 'year' ] ]

# Limit the data to just the relevant values
lab_data = lab_data[ (lab_data.hwage > minWage) & (lab_data.age >= minAge) & \
                    (lab_data.age <= maxAge) & (lab_data.lwage != np.inf)]
lab_data['cons'] = 1

In [28]:
lab_data.describe() # Check the data to make sure I have the correct variables

,lwage,hwage,hlabinc,hannhrs,hyrsed,age,Black,Hispanic,OtherRace,year,cons
count,57477.000000,57477.000000,5.747700e+04,57477.000000,57097.000000,57477.000000,57477.000000,57477.0,57477.000000,57477.000000,57477.0
mean,3.010414,24.306034,5.280176e+04,2228.364990,13.529993,39.224247,0.056388,0.0,0.024706,1986.635245,1.0
std,0.543891,25.154028,5.228071e+04,619.743286,2.449510,9.579065,0.230671,0.0,0.155228,8.744894,0.0
min,1.945946,7.000252,1.666980e+01,2.000000,1.000000,25.000000,0.000000,0.0,0.000000,1971.000000,1.0
25%,2.635309,13.947624,3.035003e+04,1952.000000,12.000000,31.000000,0.000000,0.0,0.000000,1979.000000,1.0
50%,2.990979,19.905161,4.377034e+04,2160.000000,13.000000,38.000000,0.000000,0.0,0.000000,1987.000000,1.0
75%,3.324576,27.787226,6.136955e+04,2517.000000,16.000000,47.000000,0.000000,0.0,0.000000,1994.000000,1.0
max,7.448526,1717.330322,3.771521e+06,5840.000000,17.000000,60.000000,1.000000,0.0,1.000000,2002.000000,1.0

In [29]:
# Define function to compute the log likelihood
def model_ML(b, sigma, data, t):
    '''
    Compute the log likelihood
    
    Args:
        B: a vector of coefficient values
        sigma (float): the standard deviation of the error term of the model
        data: a dataframe of the data to be used
        t: the year(s) of interest
        
    Returns:
        negLL (float): the negative Log Likelihood
    '''
    mdata = data[data['year'].isin(t)]
    # Did not include a coefficient for 'Hispanic' since I ended up leaving it out of the model since their were
    # no observations
    const = b[0]
    B1 = b[1]
    B2 = b[2]
    B3 = b[3]
    B4 = b[4]
    #B5 = b[5]
    
    N = len(mdata['lwage'])
    
    # The linear model
    lnwage = const + B1 * mdata['hyrsed'] + B2 * mdata['age'] + B3 * mdata['Black'] + B4 * mdata['OtherRace']
    
    # The error term for getting Log Likelihood
    e = mdata['lwage'] - lnwage
    
    # Calculate negative Log Likelihood
    negLL = (N/2) * np.log(sigma ** 2) + (N/2) * np.log(2 * math.pi) + (np.sum(e ** 2)) / (2 * sigma ** 2)
    
    return(negLL)

### Question 3

In [46]:
guess = [1, 0.5, 0, 0.5, 1] # initial coefficient estimates
sigma = 1
Beta = []
for t in years:
    params = (sigma, lab_data, [t])
    results = opt.minimize(model_ML, guess, args = params , method = 'Nelder-Mead', options = {'maxiter': 5000})
    Beta.append(results.x)
    print(t, results.x)

1971 [ 1.55069994  0.06688938  0.01439429 -0.16391336  0.03088936]
1980 [ 2.14485882  0.05162196  0.0040558   0.18702857 -0.03186426]
1990 [ 1.11862209  0.09755011  0.01346757 -0.17202898 -0.05977989]
2000 [ 1.99582418  0.07165188  0.00343627 -0.29423425  0.32447634]

### Question 4

The $\beta_1$ coefficient can be interpreted as the percent change in wage as a response to one more year of education. So, for the year 1971, for every additional year of education, a person might expect to earn 6.7% more.

In [47]:
import statsmodels.api as sm
testDat = lab_data[lab_data.year == 1971]
Y = testDat['lwage']
X = testDat[['cons','hyrsed', 'age', 'Black', 'OtherRace']]
linreg = sm.OLS(endog = Y, exog = X, missing = 'drop')
finresult = linreg.fit()
print('2000 Results: ', finresult.summary())

2000 Results:                              OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.244
Model:                            OLS   Adj. R-squared:                  0.241
Method:                 Least Squares   F-statistic:                     110.7
Date:                Mon, 30 Sep 2019   Prob (F-statistic):           7.42e-82
Time:                        13:50:46   Log-Likelihood:                -728.06
No. Observations:                1380   AIC:                             1466.
Df Residuals:                    1375   BIC:                             1492.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
cons           1.5510      0.073     21.382      0.000       1.409       1.693
hyrsed         0.0669      0.004     17.814      0.000       0.060       0.074
age            0.0144      0.001     12.902      0.000       0.012       0.017
Black         -0.1639      0.045     -3.638      0.000      -0.252      -0.076
OtherRace      0.0307      0.069      0.447      0.655      -0.104       0.165
==============================================================================
Omnibus:                       96.384   Durbin-Watson:                   1.819
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              217.837
Skew:                           0.424   Prob(JB):                     4.98e-48
Kurtosis:                       4.752   Cond. No.                         291.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.